<footer class="row-footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-5 col-xs-offset-1 col-sm-2 col-sm-offset-1">
        <h5>Links</h5>
        <ul class="list-unstyled">
          <li><a ui-sref="home">Home</a></li>
          <li><a ui-sref="about">About</a></li>
          <li><a ui-sref="menu">Menu</a></li>
          <li><a ui-sref="contact">Contact</a></li>
        </ul>
      </div>
      <div class="col-xs-6 col-sm-5">
        <h5>Our Address</h5>
        <address>
          007, Some Road<br>
          Some City, Some Provice/State<br>
          Some Country<br>
          <i class="fa fa-phone"></i>: +123 456 7890<br>
          <i class="fa fa-fax"></i>: +123 456 7890<br>
          <i class="fa fa-envelope"></i>:
          <a href="mailto:asd@asd.asd">nobody@nowhere.net</a>
        </address>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="nav navbar-nav" style="padding: 40px 10px;">
          <a class="btn btn-social-icon btn-google-plus" href="http://google.com/+"><i class="fa fa-google-plus"></i></a>
          <a class="btn btn-social-icon btn-facebook" href="http://www.facebook.com/profile.php?id="><i class="fa fa-facebook"></i></a>
          <a class="btn btn-social-icon btn-linkedin" href="http://www.linkedin.com/in/"><i class="fa fa-linkedin"></i></a>
          <a class="btn btn-social-icon btn-twitter" href="http://twitter.com/"><i class="fa fa-twitter"></i></a>
          <a class="btn btn-social-icon btn-youtube" href="http://youtube.com/"><i class="fa fa-youtube"></i></a>
          <a class="btn btn-social-icon" href="mailto:"><i class="fa fa-envelope-o"></i></a>
        </div>
      </div>
      <div class="col-xs-12">
        <p style="padding:10px;"></p>
        <p align=center>© Copyright 2015 Some Company</p>
      </div>
    </div>
  </div>
</footer>
