<div ng-controller="LayoutController as vm">
  <mw-top-nav></mw-top-nav>
  <mw-top-banner></mw-top-banner>
  <div id="content" class="content">
    <!-- <div class="container"> -->
      <div ui-view="content">Content is not loading ... :/</div>
    <!-- </div> -->
    <!-- <div ngplus-overlay
      ngplus-overlay-delay-in="50"
      ngplus-overlay-delay-out="700"
      ngplus-overlay-animation="dissolve-animation">

      <img src="images/busy.gif"/>

      <div class="page-spinner-message overlay-message">{{vm.busyMessage}}</div>
    </div> -->
  </div>
  <mw-footer></mw-footer>
</div>
