<header class="jumbotron hidden-xs">
  <div class="container">
    <div class="row row-header">
      <div class="col-xs-12 col-sm-8">
        <h1>Company Name</h1>
        <p style="padding:40px;"></p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sit amet ligula imperdiet, ornare urna a, vulputate arcu.</p>
      </div>
      <div class="col-xs-12 col-sm-2">
        <p style="padding:20px;"></p>
        <img src="/images/logo4.png" class="img-responsive">
      </div>
      <div class="col-xs-12 col-sm-2"></div>
    </div>
  </div>
</header>
