
<div class="container" ng-controller="ResourcesController">
  <div class="row">
    <div class="col-xs-12">
      <ul class="breadcrumb">
        <li><a ui-sref="home">Home</a></li>
        <li class="active">Resources</li>
      </ul>
    </div>
    <div class="page-header">
      <h3>Resources</h3>
    </div>
  </div>
</div>
