
/*body,html {
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

header, footer {
	width: 100%;
	text-align: center;
}*/

body{
	overflow: hidden;
}

header{
	overflow: auto;
}

main{
	overflow: auto;
}
