<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" ui-sref="app"><img src="/images/logo3.png" height=35></a>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div id="navbar" class="navbar-collapse collapse navbar-right">
      <ul class="nav navbar-nav">
        <li><a ui-sref="app.about" data-toggle="collapse" data-target=".navbar-collapse.in"><i class="glyphicon glyphicon-user"></i> About</a></li>
        <li><a ui-sref="app.contact" data-toggle="collapse" data-target=".navbar-collapse.in"><i class="glyphicon glyphicon-user"></i> Contact</a></li>
        <li><a ui-sref="app.menu2" data-toggle="collapse" data-target=".navbar-collapse.in"><i class="glyphicon glyphicon-user"></i> Menu</a></li>
        <li><a ui-sref="app.members_register" data-toggle="collapse" data-target=".navbar-collapse.in"><i class="glyphicon glyphicon-user"></i> Register</a></li>
        <li><a ui-sref="app.members_login" data-toggle="collapse" data-target=".navbar-collapse.in"><i class="fa fa-sign-in"></i> Login</a></li>
      </ul>
    </div>
  </div>
</nav>
<header class="jumbotron hidden-xs">
  <div class="container">
    <div class="row row-header">
      <div class="col-xs-12 col-sm-8">
        <h1>Company Name</h1>
        <p style="padding:40px;"></p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sit amet ligula imperdiet, ornare urna a, vulputate arcu.</p>
      </div>
      <div class="col-xs-12 col-sm-2">
        <p style="padding:20px;"></p>
        <img src="/images/logo4.png" class="img-responsive">
      </div>
      <div class="col-xs-12 col-sm-2"></div>
    </div>
  </div>
</header>
