<!-- <nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#dashboardNavbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div id="dashboardNavbar" class="navbar-collapse collapse navbar-right">
      <ul class="nav navbar-nav">
        <li><a ui-sref=".messages">Messages</a></a></li>
        <li><a ui-sref=".provider">Provider</a></a></li>
        <li><a ui-sref=".owner">Owner</a></a></li>
      </ul>
    </div>
  </div>
</nav> -->
<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#dashboardNavbar">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
</nav>
<div id="dashboardNavbar" class="navbar-default sidebar" role="navigation">
  <div class="sidebar-nav navbar-collapse">
    <ul class="nav" id="side-menu">
      <li><a ui-sref=".messages">Messages</a></a></li>
      <li><a ui-sref=".provider">Provider</a></a></li>
      <li><a ui-sref=".owner">Owner</a></a></li>
    </ul>
  </div>
</div>
