<!-- <div class="container">
  <div class="row">
    <div class="col-xs-12">
      <ul class="breadcrumb">
        <li><a ui-sref="app">Home</a></li>
        <li>Members</li>
        <li class="active">Register</li>
      </ul>
    </div>
  </div>

  <div class="col">
    <nav class="navbar">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#dashboardNavbar">
          <span class="sr-only">Toggle navigation</span>
          <b class="caret"></b>
        </button>
        <div class="page-header">
          <h3>Dashboard</h3>
        </div>
      </div>
      <div id="dashboardNavbar" class="navbar-collapse collapse navbar-left"> -->
        <!-- <ul class="nav navbar-nav">
          <li><a ui-sref=".messages">Messages</a></a></li>
          <li><a ui-sref=".provider">Provider</a></a></li>
          <li><a ui-sref=".owner">Owner</a></a></li>
        </ul> -->
      <!-- </div>
    </nav>
  </div>
</div> -->
<!-- <a ui-sref=".messages">Messages</a></a>
<a ui-sref=".provider">Provider</a></a>
<a ui-sref=".owner">Owner</a></a> -->

<div>
  <mw-dashboard-nav></mw-dashboard-nav>

  <div ui-view>Please choose an option from the menu.</div>
</div>
