<!-- ng-controller="LoginController as vm" -->
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <ul class="breadcrumb">
        <li><a ui-sref="home">Home</a></li>
        <li>Members</li>
        <li class="active">Recover</li>
      </ul>
    </div>
    <div class="page-header">
      <h3>Recover</h3>
    </div>
  </div>
  <div class="row row-content">
    <div class="col-xs-12">
      <form class="form-horizontal" name="loginForm" ng-submit="vm.recover()">
        <div class="form-group">
          <label for="email" class="col-sm-2 control-label">Email</label>
          <div class="col-sm-10">
            <input id="email" name="email" type="email" class="form-control" placeholder="Enter Email" ng-model="vm.username" required>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">Recover</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
