<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <ul class="breadcrumb">
        <li><a ui-sref="home">Home</a></li>
        <li>Members</li>
        <li class="active">Register</li>
      </ul>
    </div>
    <div class="page-header">
      <h3>Register</h3>
    </div>
  </div>
  <div class="row row-content">
    <div class="col-xs-12">
      <form class="form-horizontal" name="registerForm" ng-submit="vm.register()">
        <div class="form-group">
          <!-- <label for="avatar" class="col-sm-2 control-label">Your Picture</label> -->
          <label for="avatar" class="col-sm-2 control-label">Your Picture</label>
          <!-- col-sm-offset-2 col-sm-10 -->
          <img id="avatar" class="col-sm-10 fixed-size" width="352" height="auto" ng-src="{{vm.user.avatar}}" alt="Your Face"></img>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <div class="btn-group">
              <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#cameraModal">Web Camera</button>
              <span class="file-input btn btn-info btn-lg btn-file">
                Upload Image<input ng-model="vm.user.avatar" accept="image/*" type="file" app-filereader>
              </span>
            </div>
          </div>

          <div class="modal fade" id="cameraModal" role="dialog">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <strong>Web Camera</strong>
                </div>
                <div class="modal-body">
                  <ng-camera
                    viewer-height="288"
                    viewer-width="352"
                    crop-height="288"
                    crop-width="352"
                    image-format="jpeg"
                    jpeg-quality="90"
                    action-message="Take picture"
                    snapshot="vm.user.avatar"
                    flash-fallback-url="/bower_components/webcamjs/webcam.swf"
                    shutter-url="/shutter.mp3">
                    <button id="ng-camera-action" ng-click="getSnapshot()" class="btn btn-info btn-lg ng-binding">Take Picture</button>
                    <button type="button" class="btn btn-info btn-lg" data-dismiss="modal">Close</button>
                  </ng-camera>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group" ng-class="{ 'has-error' : registerForm.firstname.$error.required && !registerForm.firstname.$pristine }">
          <label for="firstname" class="col-sm-2 control-label">First Name</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="firstname" name="firstname" placeholder="Enter First Name" ng-model="vm.user.firstname" required>
            <span ng-show="registerForm.firstname.$error.required && !registerForm.firstname.$pristine" class="help-block">Your First name is required.</span>
          </div>
        </div>

        <div class="form-group" ng-class="{ 'has-error' : registerForm.lastname.$error.required && !registerForm.lastname.$pristine }">
          <label for="lastname" class="col-sm-2 control-label">Last Name</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Enter Last Name" ng-model="vm.user.lastname" required>
            <span ng-show="registerForm.lastname.$error.required && !registerForm.lastname.$pristine" class="help-block">Your Last name is required.</span>
          </div>
        </div>

        <div class="form-group" ng-class="{ 'has-error' : registerForm.company.$error.required && !registerForm.company.$pristine }">
          <label for="company" class="col-sm-2 control-label">Company</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="company" name="company" placeholder="Company Name" ng-model="vm.user.company" required>
            <span ng-show="registerForm.company.$error.required && !registerForm.company.$pristine" class="help-block">Your Company name is required.</span>
          </div>
        </div>

        <div class="form-group" ng-class="{ 'has-error' : registerForm.country.$error.required && !registerForm.country.$pristine }">
          <label for="country" class="col-sm-2 control-label">Country</label>
          <div class="col-sm-10">
            <select class="form-control" ng-model="vm.user.country" ng-options="country.name for country in vm.countries" required>
              <option value="" disabled="true">Please Select</option>
            </select>
            <span ng-show="registerForm.country.$error.required && !registerForm.country.$pristine" class="help-block">Your Country is required.</span>
          </div>
        </div>

        <div class="form-group">
          <label for="telnum" class="col-xs-12 col-sm-2 control-label">Contact Tel.</label>
          <div class="col-xs-5 col-sm-4 col-md-3" ng-class="{ 'has-error' : registerForm.telcode.$error.required && !registerForm.telcode.$pristine }">
            <div class="input-group">
              <div class="input-group-addon">(</div>
              <input type="tel" class="form-control" id="telcode" name="telcode" placeholder="+12" ng-model="vm.tel.code" required>
              <div class="input-group-addon">)</div>
            </div>
            <span class="help-block" ng-show="registerForm.telcode.$dirty && registerForm.telcode.$invalid">
              <span ng-show="registerForm.telcode.$error.required">Telephone code is required.</span>
              <span ng-show="registerForm.telcode.$error.tel">Invalid telephone code.</span>
            </span>
          </div>

          <div class="col-xs-7 col-sm-6 col-md-7" ng-class="{ 'has-error' : registerForm.telnum.$error.required && !registerForm.telnum.$pristine }">
            <input type="tel" class="form-control" id="telnum" name="telnum" placeholder="987654321" ng-model="vm.tel.number" required>
            <span class="help-block" ng-show="registerForm.telnum.$dirty && registerForm.telnum.$invalid">
              <span ng-show="registerForm.telnum.$error.required">Telephone number is required.</span>
              <span ng-show="registerForm.telnum.$error.integer">Invalid telephone number.</span>
            </span>
          </div>
        </div>

        <div class="form-group" ng-class="{ 'has-error has-feedback' : registerForm.email.$invalid && !registerForm.email.$pristine, 'has-success has-feedback': registerForm.email.$dirty && registerForm.email.$valid }">
          <label for="email" class="col-sm-2 control-label">Email</label>
          <div class="col-sm-10">
            <input id="email" name="email" type="email" class="form-control" placeholder="Email" ng-model="vm.user.email" required>
            <span class="help-block" ng-show="registerForm.email.$dirty && registerForm.email.$invalid">
              <span ng-show="registerForm.email.$error.required">Email is required.</span>
              <span ng-show="registerForm.email.$error.email">Invalid email address.</span>
            </span>
          </div>
        </div>

        <div class="form-group" ng-class="{ 'has-error' : registerForm.password.$error.required && !registerForm.password.$pristine }">
          <label for="password" class="col-sm-2 control-label">Password</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="password" name="password" placeholder="Enter Password" ng-model="vm.user.password" required>
            <span ng-show="registerForm.password.$error.required && !registerForm.password.$pristine" class="help-block">Your Password is required.</span>
          </div>
        </div>

        <div class="form-group" ng-class="{ 'has-error' : registerForm.passwordConfirm.$error.required && !registerForm.passwordConfirm.$pristine }">
          <label for="passwordConfirm" class="col-sm-2 control-label">Confirm Password</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="passwordConfirm" name="passwordConfirm" placeholder="Confirm Password" ng-model="vm.confirm_password" required>
            <span class="help-block" ng-show="!registerForm.passwordConfirm.$pristine">
              <span ng-show="registerForm.passwordConfirm.$error.required">Please Confirm Password.</span>
              <span ng-show="registerForm.password.value != registerForm.passwordConfirm.value">Passwords must match</span>
            </span>
          </div>
        </div>

        <!-- <div class="form-group">
          <label for="captcha" class="col-sm-2 control-label"></label>
          <div id="captcha" vc-recaptcha class="col-sm-offset-2 col-sm-10" ng-model="vm.captcha.response" key='vm.captcha.publicKey'></div>
        </div> -->

        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary" ng-disabled="registerForm.$invalid">Register</button>
          </div>
        </div>

        <div class="alert alert-danger col-xs-12" ng-if="vm.errors.length">
          <ul class="list-group">
            <li class="list-group-item" ng-repeat="error in vm.errors"><strong>{{error}}</strong></li>
          </ul>
        </div>
        <!-- <h2>Debug output</h2>
        <pre>user = {{vm.user | json}}</pre> -->
      </form>
    </div>
  </div>
</div>
