<div class="container" ng-controller="OwnerController">
  <!-- <div class="row">
    <div class="col-xs-12">
      <ul class="breadcrumb">
        <li><a ui-sref="home">Home</a></li>
        <li><a ui-sref="dashboard">Dashboard</a></li>
        <li class="active">Owner</li>
      </ul>
    </div>
    <div class="col-xs-12">
      <h3>Project Owner</h3>
    </div>
  </div> -->
  <div class="page-header">
    <h3>Project Owner</h3>
  </div>
  <div class="row row-content">
    <div class="col-xs-12 col-sm-8">
    </div>
  </div>
</div>
