<div class="container">
  <div class="row row-content">
    <div class="col-xs-12 col-sm-3 col-sm-push-9">
      <p style="padding:20px;"></p>
      <h3 align=center>{{vm.feature1.heading}}</h3>
    </div>
    <div class="col-xs-12 col-sm-9 col-sm-pull-3">
      <div class="alert alert-danger" ng-if="!vm.feature1.show">
        <h3>{{vm.feature1.message}}</h3>
      </div>
      <div class="media" ng-if="vm.feature1.show">
				<div class="media-left media-middle">
          <!-- Clickable Image -->
					<!-- <a ui-sref="app.dishdetails({id: featuredDish.id})">
            <img ng-src={{vm.feature1.image}} alt="Feature1" class="media-object img-thumbnail img-responsive"></img>
          </a> -->
				</div>
				<div class="media-body">
					<h2 class="media-heading">{{vm.feature1.name}} <span class="label label-danger label-xs">{{vm.feature1.label}}</span> <span class="badge">{{vm.feature1.price | currency}}</span> <small>{{vm.feature1.sm_descr}}</small></h2>
					<p>{{vm.feature1.description}}</p>
				</div>
			</div>
    </div>
  </div>

  <div class="row row-content">
    <div class="col-xs-12 col-sm-3">
      <p style="padding:20px;"></p>
      <h3 align=center>{{vm.feature2.heading}}</h3>
    </div>
    <div class="col-sm-9 col-xs-12">
      <div class="alert alert-danger" ng-if="!vm.feature2.show">
        <h3>{{vm.feature2.message}}</h3>
      </div>
      <div class="media" ng-if="vm.feature2.show">
        <div class="media-body">
          <h2 class="media-heading">{{vm.feature2.name}}
            <span class="label label-danger label-xs">{{vm.feature2.label}}</span>
            <span class="badge">{{vm.feature2.price | currency}}</span>
            <small>{{vm.feature2.sm_descr}}</small></h2>
          <p>{{vm.feature2.description}}</p>
        </div>
        <!-- <div class="media-right media-middle">
          <a href="#"><img ng-src={{featuredPromotion.image}} alt="featuredPromotion" class="media-object img-thumbnail img-responsive"></img></a>
        </div> -->
      </div>
    </div>
  </div>

  <div class="row row-content">
    <div class="col-xs-12 col-sm-3 col-sm-push-9">
      <p style="padding:20px;"></p>
      <h3 align=center>{{vm.feature3.heading}}</h3>
    </div>
    <div class="col-xs-12 col-sm-9 col-sm-pull-3">
      <div class="alert alert-danger" ng-if="!vm.feature3.show">
        <h3>{{vm.feature3.message}}</h3>
      </div>
      <div class="media" ng-if="vm.feature3.show">
				<!-- <div class="media-left media-middle">
					<a href="#"><img ng-src={{featuredExecutive.image}} alt="featuredExecutive" class="media-object img-thumbnail img-responsive"></img></a>
				</div> -->
				<div class="media-body">
          <h2 class="media-heading">{{vm.feature3.name}}
            <span class="label label-danger label-xs">{{vm.feature3.label}}</span>
            <span class="badge">{{vm.feature3.price | currency}}</span>
            <small>{{vm.feature3.sm_descr}}</small></h2>
					<p>{{vm.feature3.description}}</p>
				</div>
			</div>
    </div>
  </div>
</div>
