<!-- ng-controller="LoginController as vm" -->
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <ul class="breadcrumb">
        <li><a ui-sref="home">Home</a></li>
        <li>Members</li>
        <li class="active">Login</li>
      </ul>
    </div>
    <div class="page-header">
      <h3>Login</h3>
    </div>
  </div>

  <div class="row row-content">
    <div class="col col-xs-12">
      <form name="loginForm" class="form-horizontal" ng-submit="vm.login()">
        <div class="form-group">
          <label for="email" class="col-sm-2 control-label">Email</label>
          <div class="col-sm-10">
            <input id="email" name="email" type="email" class="form-control" placeholder="Enter Email" ng-model="vm.username" required>
          </div>
        </div>

        <div class="form-group">
          <label for="password" class="col-sm-2 control-label">Password</label>
          <div class="col-sm-10">
            <input type="password" class="form-control" id="password" name="password" placeholder="Enter Password" ng-model="vm.password" required>
          </div>
        </div>

        <div class="form-group">
          <div class="checkbox col-sm-offset-2 col-sm-10">
            <label class="checkbox-inline">
              <input type="checkbox" name="approve" value="">
              <strong>Remember Me</strong>
            </label>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <label>
              <a href="#/recover">Forgot password?</a></p>
            </label>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">Login</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
